spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/spring_post_service
    username: postgres
    password: Root@1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  data:
    mongodb:
      uri: mongodb://localhost:27017/spring_post_service
      auto-index-creation: true  # This is required for @Indexed to work
  redis:
    host: localhost
    port: 6379
    timeout: 2s
  cache:
    type: redis
    redis:
      time-to-live: 10m
      cache-null-values: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  pattern:
    correlation: "[%X{traceId:-},%X{spanId:-}]"
  level:
    org.springframework.security: DEBUG

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: false

mail:
  host: smtp.mailtrap.io
  port: 2525
  username: your_username
  password: your_password
  properties:
    mail:
      smtp:
        auth: true
        starttls:
          enable: true